In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import *

# Inicialize a sessão Spark
spark = SparkSession.builder \
    .appName("SAS to PySpark Example") \
    .getOrCreate()

# Crie um DataFrame de exemplo
data = [
    (1, 500, 2),
    (2, 500, 3),
    (3, 500, 5),
    (4, 501, 3),
    (5, 502, 5),
    (6, 503, 2),
    (7, 503, 3),
    (8, 503, 5),
    (9, 504, 2),
    (10, 504, 2),
    (11, 504, 3),
    (12, 504, 3),
    (13, 504, 5)    
]
columns = ["IDNUMCLI", "GRUP_ECO", "ROL_JERA"]
df = spark.createDataFrame(data, columns)

# Defina a janela de partição
windowSpec1 = Window.partitionBy("GRUP_ECO","ROL_JERA").orderBy("GRUP_ECO","ROL_JERA")
windowSpec2 = Window.partitionBy("GRUP_ECO").orderBy("ROL_JERA")

df_with_row_number = df.withColumn("row_number", row_number().over(windowSpec2))

# Adicione uma coluna para concatenar os valores
df_concatenated = df_with_row_number.withColumn("temp", when(col("row_name")==1, "IDNUMCLI")
                                                        .otherwise(collect_list("IDNUMCLI").over(windowSpec))) \
                    .withColumn("IDNCLIPR", concat_ws(",", "temp")) \
                    #.filter((col("temp").isNotNull()) & ((col("GRUP_ECO") != first("GRUP_ECO").over(Window.partitionBy("ROL_JERA").orderBy("GRUP_ECO"))) | (col("ROL_JERA") != first("ROL_JERA").over(Window.partitionBy("GRUP_ECO").orderBy("ROL_JERA"))))) \
                    #.drop("temp")

# Mostrar DataFrame resultante
df_concatenated.show()

# Encerrar a sessão Spark
spark.stop()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `row_name` cannot be resolved. Did you mean one of the following? [`row_number`, `GRUP_ECO`, `ROL_JERA`, `IDNUMCLI`].;
'Project [IDNUMCLI#780L, GRUP_ECO#781L, ROL_JERA#782L, row_number#787, CASE WHEN ('row_name = 1) THEN IDNUMCLI ELSE collect_list(IDNUMCLI#780L, 0, 0) windowspecdefinition(GRUP_ECO#781L, ROL_JERA#782L, GRUP_ECO#781L ASC NULLS FIRST, ROL_JERA#782L ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) END AS temp#793]
+- Project [IDNUMCLI#780L, GRUP_ECO#781L, ROL_JERA#782L, row_number#787]
   +- Project [IDNUMCLI#780L, GRUP_ECO#781L, ROL_JERA#782L, row_number#787, row_number#787]
      +- Window [row_number() windowspecdefinition(GRUP_ECO#781L, ROL_JERA#782L ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS row_number#787], [GRUP_ECO#781L], [ROL_JERA#782L ASC NULLS FIRST]
         +- Project [IDNUMCLI#780L, GRUP_ECO#781L, ROL_JERA#782L]
            +- LogicalRDD [IDNUMCLI#780L, GRUP_ECO#781L, ROL_JERA#782L], false

In [35]:
# Defina a janela de partição
windowSpec1 = Window.partitionBy("GRUP_ECO","ROL_JERA").orderBy("GRUP_ECO","ROL_JERA")
windowSpec2 = Window.partitionBy("GRUP_ECO").orderBy("ROL_JERA")
windowSpec3 = Window.partitionBy("GRUP_ECO").orderBy("GRUP_ECO")

df_concatenated = df_with_row_number.withColumn("temp", collect_list("IDNUMCLI").over(windowSpec3))
df_concatenated.show()

+--------+--------+--------+----------+-------------------+
|IDNUMCLI|GRUP_ECO|ROL_JERA|row_number|               temp|
+--------+--------+--------+----------+-------------------+
|       1|     500|       2|         1|          [1, 2, 3]|
|       2|     500|       3|         2|          [1, 2, 3]|
|       3|     500|       5|         3|          [1, 2, 3]|
|       4|     501|       3|         1|                [4]|
|       5|     502|       5|         1|                [5]|
|       6|     503|       2|         1|          [6, 7, 8]|
|       7|     503|       3|         2|          [6, 7, 8]|
|       8|     503|       5|         3|          [6, 7, 8]|
|       9|     504|       2|         1|[9, 10, 11, 12, 13]|
|      10|     504|       2|         2|[9, 10, 11, 12, 13]|
|      11|     504|       3|         3|[9, 10, 11, 12, 13]|
|      12|     504|       3|         4|[9, 10, 11, 12, 13]|
|      13|     504|       5|         5|[9, 10, 11, 12, 13]|
+--------+--------+--------+----------+-------------------+

In [75]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import *

# Inicialize a sessão Spark
spark = SparkSession.builder \
    .appName("SAS to PySpark Example") \
    .getOrCreate()

# Crie um DataFrame de exemplo
data = [
    (1, 500, 2),
    (2, 500, 3),
    (3, 500, 5),
    (4, 501, 3),
    (5, 502, 5),
    (6, 503, 2),
    (7, 503, 3),
    (8, 503, 5),
    (9, 504, 2),
    (10, 504, 2),
    (11, 504, 3),
    (12, 504, 3),
    (13, 504, 5)    
]
columns = ["IDNUMCLI", "GRUP_ECO", "ROL_JERA"]
df = pd.DataFrame(data, columns=columns)

In [76]:
df

    IDNUMCLI  GRUP_ECO  ROL_JERA
0          1       500         2
1          2       500         3
2          3       500         5
3          4       501         3
4          5       502         5
5          6       503         2
6          7       503         3
7          8       503         5
8          9       504         2
9         10       504         2
10        11       504         3
11        12       504         3
12        13       504         5

In [78]:
import pandas as pd

# Carregar a tabela anterior do Pandas
df_tabela_anterior = df # Substitua pelo caminho correto do arquivo

# Ordenar o DataFrame pelo GRUP_ECO e ROL_JERA
df_tabela_anterior.sort_values(by=["GRUP_ECO", "ROL_JERA"], inplace=True)

# Inicializar a coluna IDNCLIPR com uma string vazia
df_tabela_anterior["IDNCLIPR"] = ""

# Agrupar o DataFrame por GRUP_ECO
for group, data in df_tabela_anterior.groupby("GRUP_ECO"):
    temp = []  # Lista temporária para armazenar os valores IDNUMCLI
    for idx, row in data.iterrows():
        if len(temp) > 0 and row["ROL_JERA"] != temp[-1]:  # Se for o primeiro ROL_JERA diferente
            df_tabela_anterior.loc[idx, "IDNCLIPR"] = ",".join(str(val) for val in temp)  # Concatenar os valores IDNUMCLI
            temp = []  # Limpar a lista temporária
        temp.append(row["IDNUMCLI"])  # Adicionar o IDNUMCLI à lista temporária
    if len(temp) > 0:  # Atualizar a última linha do grupo
        last_idx = data.index[-1]
        df_tabela_anterior.loc[last_idx, "IDNCLIPR"] = ",".join(str(val) for val in temp)

# Salvar o DataFrame resultante
df_tabela_anterior

    IDNUMCLI  GRUP_ECO  ROL_JERA IDNCLIPR
0          1       500         2
1          2       500         3        1
2          3       500         5        3
3          4       501         3        4
4          5       502         5        5
5          6       503         2
6          7       503         3        6
7          8       503         5        8
8          9       504         2
9         10       504         2        9
10        11       504         3       10
11        12       504         3       11
12        13       504         5       13

In [53]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, sum, udf
from pyspark.sql.types import IntegerType

# Inicialize a sessão Spark
spark = SparkSession.builder \
    .appName("Exemplo de UDF em Window") \
    .getOrCreate()

# Crie um DataFrame de exemplo
data = [
    (1, "Loja_A", 100),
    (2, "Loja_A", 150),
    (3, "Loja_A", 200),
    (4, "Loja_B", 300),
    (5, "Loja_B", 250),
    (6, "Loja_B", 200),
    (7, "Loja_B", 350)
]
df = spark.createDataFrame(data, ["ID", "Loja", "Vendas"])

# Defina a janela de partição por loja e ordene pelos IDs
windowSpec = Window.partitionBy("Loja").orderBy("ID").rowsBetween(Window.unboundedPreceding, 0)

# Adicione uma coluna com a soma acumulada das vendas por loja
df_with_cumulative_sum = df.withColumn("Cumulative_Sum", sum(col("Vendas")).over(windowSpec))

# Defina uma UDF para calcular a soma acumulada
@udf(IntegerType())
def cumulative_sum(column):
    return sum(column) if column is not None else None

# Aplicar a UDF à coluna de vendas
df_with_cumulative_sum = df_with_cumulative_sum.withColumn("Cumulative_Sum_UDF", cumulative_sum(col("Vendas")))

# Mostrar o DataFrame resultante
df_with_cumulative_sum.show()

# Encerrar a sessão Spark
spark.stop()

24/04/18 14:45:23 ERROR Executor: Exception in task 0.0 in stage 11.0 (TID 35)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_2484272/3170025621.py", line 32, in cumulative_sum
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 174, in wrapped
    return f(*args, **kwargs)
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 866, in sum
    return _invoke_function_over_columns("sum", col)
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 105, in _invoke_function_over_columns
    return _invoke_function(name, *(_to_java_column(col) for col in cols))
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 105, in <genexpr>
    return _invoke_function(name, *(_to_java_column(col) for col in cols))
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/column.py", line 65, in _to_java_column
    raise PySparkTypeError(
pyspark.errors.exceptions.base.PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got int.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
24/04/18 14:45:23 WARN TaskSetManager: Lost task 0.0 in stage 11.0 (TID 35) (fedora executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_2484272/3170025621.py", line 32, in cumulative_sum
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 174, in wrapped
    return f(*args, **kwargs)
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 866, in sum
    return _invoke_function_over_columns("sum", col)
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 105, in _invoke_function_over_columns
    return _invoke_function(name, *(_to_java_column(col) for col in cols))
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 105, in <genexpr>
    return _invoke_function(name, *(_to_java_column(col) for col in cols))
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/column.py", line 65, in _to_java_column
    raise PySparkTypeError(
pyspark.errors.exceptions.base.PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got int.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

24/04/18 14:45:23 ERROR TaskSetManager: Task 0 in stage 11.0 failed 1 times; aborting job

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_2484272/3170025621.py", line 32, in cumulative_sum
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 174, in wrapped
    return f(*args, **kwargs)
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 866, in sum
    return _invoke_function_over_columns("sum", col)
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 105, in _invoke_function_over_columns
    return _invoke_function(name, *(_to_java_column(col) for col in cols))
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/functions.py", line 105, in <genexpr>
    return _invoke_function(name, *(_to_java_column(col) for col in cols))
  File "/home/Matheus/.local/lib/python3.10/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/column.py", line 65, in _to_java_column
    raise PySparkTypeError(
pyspark.errors.exceptions.base.PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got int.